@{
    ViewData["Title"] = "Home";
}





 <div class="offcanvas offcanvas-end text-light bg-dark" tabindex="-1" id="offcanvasRight"
            data-bs-backdrop="static" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Music</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                


            </div>
            <div class="offcanvas-footer p-4">
                Code Design 2022
                by Software Engineer
            </div>
        </div>

